<p><%= @email %>様</p>

<p>レコめしへようこそ!</p>

<p>以下のリンクをクリックして、メールアドレスを確認してください：</p>

<%
  host = Rails.application.config.action_mailer.default_url_options[:host]
  protocol = Rails.application.config.action_mailer.default_url_options[:protocol]
  host_without_trailing_slash = host.gsub(%r{/$}, '')
  confirmation_url = "#{protocol}://#{host_without_trailing_slash}/settings/email-confirmation?confirmation_token=#{@token}"
%>

<p>
  <a href="<%= confirmation_url %>">メールアドレスを確認する</a>
</p>

<p>このリンクは24時間有効です。</p>

<hr />

<p>
  このリンクをクリックできない場合は、以下のURLをブラウザに貼り付けてください：<br>
  <%= confirmation_url %>
</p>

<p>
  心当たりがない場合は、このメールを無視してください。
</p>

<p>
  レコめしチーム
</p>
