<p><%= @resource.email %>様</p>

<p>パスワードリセットのご依頼をいただきました。</p>

<p>以下のリンクをクリックして、新しいパスワードを設定してください：</p>

<p>
  <%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>このリンクは6時間有効です。</p>

<hr />

<p>
  このリンクをクリックできない場合は、以下のURLをブラウザに貼り付けてください：<br>
  <%= edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  パスワードのリセットをご依頼されなかった場合は、このメールを無視してください。<br>
  パスワードは変更されません。
</p>

<p>
  レコめしチーム
</p>
