<p><%= @resource.email %>様</p>

<p>パスワードリセットのご依頼をいただきました。</p>

<p>以下のリンクをクリックして、新しいパスワードを設定してください：</p>

<%
  host = Rails.application.config.action_mailer.default_url_options[:host]
  protocol = Rails.application.config.action_mailer.default_url_options[:protocol]
  host_without_trailing_slash = host.gsub(%r{/$}, '')
  reset_password_url = "#{protocol}://#{host_without_trailing_slash}/password/reset?reset_password_token=#{@token}"
%>

<p>
  <a href="<%= reset_password_url %>">パスワードを再設定する</a>
</p>

<p>このリンクは6時間有効です。</p>

<hr />

<p>
  このリンクをクリックできない場合は、以下のURLをブラウザに貼り付けてください：<br>
  <%= reset_password_url %>
</p>

<p>
  パスワードのリセットをご依頼されなかった場合は、このメールを無視してください。<br>
  パスワードは変更されません。
</p>

<p>
  レコめしチーム
</p>
